{% extends 'software_training/training/admin/base_admin.html' %}
{% load static %}
{% block content %}
<div class="row mt-5">
    <div class="col-12 col-sm-1 col-md-2 col-lg-2"></div>
    <div class="col-12 col-sm-10 col-md-8 col-lg-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mt-3" style="text-align:center">Give Task</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data" autocomplete="OFF">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Select Category</label>
                        <select class="form-control" id="regdetailsdept" style="color:white;" name="Department"
                            required>
                            <option selected="true" disabled="disabled" value="">-Not Selected-</option>
                            {% for i in cate %}
                            <option value="{{i.id}}">{{i.category_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Select Course</label>
                        <select class="form-control" id="regdetailsDesig" style="color:white;" name="designation">
                            <!-- <option selected="true" disabled="disabled" value="">Select an option</option> -->
                        </select>

                    </div>
                    <div class="form-group">
                        <label>Select Employee</label>


                        <select class="form-control" style="color:white;" name="projectname" id="empname">
                            <!-- {% for i in emp %}
                              <option value="{{i.fullname}}">{{i.fullname}}</option>
                               

                                {% endfor %}  -->
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">Task</label>
                        <textarea class="form-control" name="task" id="exampleTextarea1" style="color:white;"
                            rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" name="discrip" id="exampleTextarea1" style="color:white;"
                            rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">StartDate</label>
                        <input type="date" class="form-control txtDate" id="txtDate" name="start" required
                            style="color: white;">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">End Date</label>
                        <input type="date" class="form-control txtFrom" id="txtFrom" name="end" required
                            style="color: white;">
                    </div>
                    <div class="form-group">
                        <label>File upload</label>
                        <input type="file" name="img[]" class="file-upload-default" required style="color: white;">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled
                                placeholder="select a file">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button"
                                    style="height: 37px;">Upload</button>
                            </span>
                        </div>
                    </div>



                    <script>
                        $(function () {
                            var dtToday = new Date();
                            var month = dtToday.getMonth() + 1;
                            var day = dtToday.getDate();
                            var year = dtToday.getFullYear();
                            if (month < 10)
                                month = '0' + month.toString();
                            if (day < 10)
                                day = '0' + day.toString();
                            var maxDate = year + '-' + month + '-' + day;
                            $('.txtDate').attr('max', maxDate);
                        })
                    </script>
                    <script>
                        $(function () {
                            var dtToday = new Date();
                            var month = dtToday.getMonth() + 1;
                            var day = dtToday.getDate();
                            var year = dtToday.getFullYear();
                            if (month < 10)
                                month = '0' + month.toString();
                            if (day < 10)
                                day = '0' + day.toString();
                            var minDate = year + '-' + month + '-' + day;
                            $('.txtFrom').attr('min', minDate);
                        })
                    </script>



                    <div class="form-check form-check-flat form-check-primary">

                        <button type="submit" class="btn btn-primary me-2">Assign</button>

                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#regdetailsdept").change(function () {
        const deptId = $(this).val();
        $.ajax({
            url: 'Admin_taskcategory',
            data: {
                'dept_id': deptId
            },

            success: function (data) {
                $("#regdetailsDesig").html(data);
                console.log(data);
            }
        });

    });

</script>

<script type="text/javascript">
    $("#regdetailsDesig").change(function () {
        const deptId = $("#regdetailsdept").val();
        const desigId = $("#regdetailsDesig").val();

        $.ajax({
            url: 'BRadmin_taskemployee',
            data: {
                'dept_id': deptId,
                'desig_id': desigId
            },
            success: function (data) {
                $("#empname").html(data);
                console.log(data);
            }
        });

    });
</script>

{% endblock %}


<form class="forms-sample" method="post" action="{% url 'BRadmin_givetask' %}" enctype="multipart/form-data"></form>