{% extends 'software_training/training/trainee/base_trainee.html' %} {% load static %} {% block content %}
<style>
    table tr {
        cursor: pointer;
    }
</style>
<div class="row" style="padding-top: 20px;">
    <div class="col-2 col-sm-1 col-md-2 col-lg-2"></div>
    <div class="col-12 col-sm-10 col-md-8 col-lg-8 grid-margin ">
        <div class="card">
            <div class="card-body" style="height:auto">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <h3 class="page-title ">Applied Leave</h3>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12"><br></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <form>
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control text-light" id="myInput" onkeyup="myFunction()"
                                placeholder="Search" />
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead>
                            <tr>
                                <th style="padding-left:18px;"> From Date </th>
                                <th style="padding-left:25px;"> To Date </th>
                                <th>Reason </th>
                                <th>Reply</th>
                                <th style="padding-left:36px;"> Status </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if le %}
                            {% for i in le %}
                            <tr>
                                <td>
                                    <span>{{i.leave_from_date|date:'d-m-Y'}}</span>
                                </td>
                                <td>{{i.leave_to_date|date:'d-m-Y'}}</td>
                                <td>{{i.leave_reason}}</td>
                                <td>{{i.leave_rejected_reason}}</td>

                                <td>
                                    {% if i.leave_leaveapproved_status == '0' %}
                                    <div class="badge badge-outline-warning" style="width: 105px;">
                                        <i class="mdi mdi-playlist-remove"></i>&nbsp; Pending
                                    </div>
                                    {% elif i.leave_leaveapproved_status == '1' %}
                                    <div class="badge badge-outline-success" style="width: 105px;">
                                        <i class="mdi mdi-playlist-remove"></i>&nbsp; Approved
                                    </div>
                                    {% else %}
                                    <div class="badge badge-outline-danger" style="width: 105px;">
                                        <i class="mdi mdi-playlist-remove"></i>&nbsp; Rejected
                                    </div>
                                    {% endif %}
                                </td>                       
                            </tr>
                            {% endfor %} 
                            {% else %}
                            <h5 class="text-light">Nothing to display.....</h5>
                            {% endif %}                     
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}